/* Navigating to view 
 1) Animation starts. ngAnimate adds .ng-enter class to ng-view 
 
  ngAnimate calculates animation steps from 
   css styles in .ng-enter and .ng-enter-active 
   
 2) Animation ends. ngAnimate removes all classes 
*/

.ng-enter {
  transition: all linear 0.5s; 
  /* 
    all        animate using all css styles. Eg: left
    linear     calculate steps using a linear function
    <duration> in seconds
  */
  position: absolute; 
  left: 100%;
  /* animation will start from the rigth */
}
.ng-enter.ng-enter-active {
  left: 0;
  /* animation will end on the left */
}

/* Leaving active view 
 1) Animation starts. ngAnimate adds .ng-leave class to ng-view
 
  ngAnimate calculates animation steps from 
   css styles in .ng-leave and .ng-leave-active
   
 2) Animation ends. ngAnimate removes all classes 
*/

.ng-leave {
  transition: all linear 0.5s;
  position: absolute;
  left: 0%;
  color:#000;
  /* animation will start from the left */
}
.ng-leave.ng-leave-active {
  left: 100%;
  color:#fff;
  /* animation will end on the rigth */
}
